[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  h1 {
    font-size: 120px;
  }
}

h1 {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("afbeeldingen/Tilburg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  text-align: center;
  text-shadow: 5px 5px #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

.imgDivRechts {
  float: right;
  width: 10%;
}

footer {
  clear: left;
  height: 100px;
  background-color: #7766aa;
  padding-top: 10px;
  padding-left: 30px;
}

li {
  padding: 10px;
  list-style-type: none;
}

.col-9 {
  background-color: #ccffff;
  margin-bottom: 50px;
}
